* {
    box-sizing: border-box;
}

html {
    font-size: 2vw;
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid_container {
    display: grid;
    grid-template: 15% 1fr 20% / 1fr 30%;

}

.grid_header {
    display: grid;
    grid-column: span 2;
    justify-content: center;
    background: grey;
    align-items: center;
}

.grid_main {
    display: grid;
    grid-template-rows: 1fr 20% 20%;
    grid-template-columns: 1fr 1fr;
    background: rgb(252, 238, 178);
    gap: 2em;
    padding: 2em;
}

.main_container_1 {
    grid-column: span 2;
    text-align: center;
}

[class^="main_container_block"] {
    background: rgb(252, 233, 151);
    padding: 2em 1em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main_container_block-3 {
    grid-column: span 2;
}

.grid_aside {
    padding: 2em;
    background: #d0f0ac;
    text-align: center;
}

.grid_footer {
    display: grid;
    grid-column: span 2;
    grid-template: 1fr / repeat(4, 1fr);
    background: grey;
    gap: 2em;
    padding: 2em;
}

.grid_footer>div {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    background: lightgrey;
}